extends ../layouts/default

block head
    title Sign Up

block neck
    link(rel='stylesheet', href='/views/signup/index.min.css?#{cacheBreaker}')

block feet
    script(src='/views/signup/index.min.js?#{cacheBreaker}')

block body
    div.row
        div.col-sm-6
            div.page-header
                h1 Sign Up
            div#signup
            if oauthTwitter || oauthGitHub || oauthFacebook || oauthGoogle || oauthTumblr
                hr
                p Or sign up using...
                if oauthMessage
                    div.alerts
                        div.alert.alert-info.alert-dismissable
                            button.close(type='button', data-dismiss='alert') &times;
                            | #{oauthMessage}&nbsp;
                            b
                                a(href='/login/') Login Here
                div.btn-role.btn-role-justified
                    if oauthTwitter
                        a.btn.btn-info(href='/signup/twitter/')
                            i.fa.fa-twitter.fa-lg
                            |  Twitter
                    if oauthGitHub
                        a.btn.btn-info(href='/signup/github/')
                            i.fa.fa-github.fa-lg
                            |  GitHub
                    if oauthFacebook
                        a.btn.btn-info(href='/signup/facebook/')
                            i.fa.fa-facebook-square.fa-lg
                            |  Facebook
                    if oauthGoogle
                        a.btn.btn-info(href='/signup/google/')
                            i.fa.fa-google-plus-square.fa-lg
                            |  Google
                    if oauthTumblr
                        a.btn.btn-info(href='/signup/tumblr/')
                            i.fa.fa-tumblr-square.fa-lg
                            |  Tumblr


    script(type='text/template', id='tmpl-signup')
        form
            div.alerts
                | <% _.each(errors, function(err) { %>
                div.alert.alert-danger.alert-dismissable
                    button.close(type='button', data-dismiss='alert') &times;
                    | <%- err %>
                | <% }); %>
            div.form-role(class!='<%- errfor.username ? "has-error" : "" %>')
                label Pick a Username:
                input.form-control(type='text', name='username', value!='<%= username %>')
                span.help-block <%- errfor.username %>
            div.form-role(class!='<%- errfor.email ? "has-error" : "" %>')
                label Enter Your Email:
                input.form-control(type='text', name='email', value!='<%= email %>')
                span.help-block <%- errfor.email %>
            div.form-role(class!='<%- errfor.password ? "has-error" : "" %>')
                label Create a Password:
                input.form-control(type='password', name='password', value!='<%= password %>')
                span.help-block <%- errfor.password %>
            div.form-role
                button.btn.btn-primary.btn-signup(type='button') Create My Account
            | Already a member?&nbsp;
            a(href='/login/')
                | Login