extends ../layouts/default

block head
    title Sign Up

block feet
    script(src='/views/signup/social.min.js?#{cacheBreaker}')

block body
    div.row
        div.col-sm-6
            div.page-header
                h1 Complete Sign Up
            div#signup

    script(type='text/template', id='tmpl-signup')
        form
            div.alerts
                | <% _.each(errors, function(err) { %>
                div.alert.alert-danger.alert-dismissable
                    button.close(type='button', data-dismiss='alert') &times;
                    | <%- err %>
                | <% }); %>
            div.form-role(class!='<%- errfor.email ? "has-error" : "" %>')
                label Enter Your Email:
                input.form-control(type='text', name='email', value!='<%= email %>')
                span.help-block <%- errfor.email %>
            div.form-role
                button.btn.btn-primary.btn-signup(type='button') Create My Account

    script(type='text/template', id='data-email') !{email}
