html, body {
    height:100%;
    margin: 0;
    font-family: sans-serif;
}
#header {
    background-color: rgb(66, 136, 195);
    color: #fff;
    height: calc(100% - 50px);
}
#header #buttons a {
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    display: inline-block;
}
#header #page-title-wrp {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
}
#header h1#page-title {
    margin: 0;
    font-size: 8em;
    font-family: serif;
}
#page {
    max-width: 1000px;
    margin: 0 auto;
    color: #333;
    line-height: 1.6;
    font-family: sans-serif;
    font-size: 20px;
}
#page h2#section {
    color: #ccc;
    background-color: #333;
    display: inline-block;
    padding: 0 20px;
}
#page #ppl-user-block {
    position: absolute;
    right: 130px;
    top: 10px;
}
#page #ppl-user-avatar {
    width: 40px;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
}
#page #ppl-user-block a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
#page #footer {
    border-top: 1px solid #ccc;
    margin-top: 70px;
    padding: 70px 0;
    color: #999;
    text-align: center;
}
#page h3, h4 {
    margin: 10px 0;
    font-weight: normal;
    display: inline-block;
}
#page h3 {
    font-size: 44px;
    font-family: serif;
    color: #999;
    font-style: italic;
}
#page h4 {
    font-size: 32px;
}
#page h3:hover + .icon-link,
#page h4:hover + .icon-link {
    color: #ccc;
}
#page ul {
    margin-top: 0;
}
#page ul > li {
    list-style-type: none;
}
#page p {
    margin: 10px 0;
}
#page em {
    color: #777;
}
#page code {
    background-color: #f1f1f1;
    padding: 0 4px;
    color: rgb(148, 10, 10);
}
#page .icon-link {
    display: inline-block;
    color: #fff;
    vertical-align: super;
}
#page .icon-link:hover {
    color: #999;
}
#page .gist .gist-file,
#page .gist .gist-data {
    border: 0;
}
#page .gist .line-numbers,
#page .gist .gist-meta {
    display: none;
}
#page .gist .file-data,
#page .gist .lines{
    background: #f8f8f8;
    font-size: 20px;
    padding: 20px;
}
