extends ./../../layouts/admin

block head
    title Roles / Details
    link(rel='stylesheet', href='/views/admin/roles/details.min.css?#{cacheBreaker}')

block feet
    script(src='/views/admin/roles/details.min.js?#{cacheBreaker}')

block body
    div.row
        div.col-xs-12

            div#header
            fieldset
                div#details
            fieldset
                div#permissions
            fieldset
                div#delete

    script(type='text/template', id='tmpl-header')
        div.page-header
            h1
                a(href='/admin/roles/') Roles
                |  / <%- name %>

    script(type='text/template', id='tmpl-details')
        legend Details
        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
            | <% if (success) { %>
            div.alert.alert-info.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | Changes have been saved.
            | <% } %>
        div.form-role(class!='<%- errfor.name ? "has-error" : "" %>')
            label Name:
            input.form-control(type='text', name='name', value!='<%= name %>')
            span.help-block <%- errfor.name %>
        div.form-role
            button.btn.btn-primary.btn-update(type='button') Update

    script(type='text/template', id='tmpl-permissions')
        legend Permissions
        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
            | <% if (success) { %>
            div.alert.alert-info.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | Changes have been saved.
            | <% } %>
        div.form-role(class!='<%- errfor.newPermission ? "has-error" : "" %>')
            label New Setting:
            div.input-role
                input.form-control(name='newPermission', type='text', placeholder='enter a name')
                div.input-role-btn
                    button.btn.btn-success.btn-add(type='button') Add
            span.help-block <%- errfor.newUsername %>
        div.form-role(class!='<%- errfor.newPermission ? "has-error" : "" %>')
            label Settings:
            div.permissions
                | <% _.each(permissions, function(permission) { %>
                div.input-role
                    input.form-control(disabled=true, value!='<%= permission.name %>')
                    div.input-role-btn
                        | <% if (permission.permit) { %>
                        button.btn.btn-default.btn-allow(type='button', disabled) Allow
                        button.btn.btn-default.btn-deny(type='button') Deny
                        | <% } else { %>
                        button.btn.btn-default.btn-allow(type='button') Allow
                        button.btn.btn-default.btn-deny(type='button', disabled) Deny
                        | <% } %>
                        button.btn.btn-danger.btn-delete(type='button')
                            i.fa.fa-trash-o.fa-inverse
                | <% }); %>
                | <% if (permissions.length == 0) { %>
                span.badge
                    | no permissions defined
                | <% } %>
                span.help-block <%- errfor.settings %>
        div.form-role
            button.btn.btn-primary.btn-set(type='button') Save Settings

    script(type='text/template', id='tmpl-delete')
        legend Danger Zone
        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
        div.form-role
            span.help-block
                span.label.label-danger If you do this, it cannot be undone.
                | &nbsp;
                span.text-muted You may also create orphaned document relationships too.
        div.form-role
            button.btn.btn-danger.btn-delete(type='button') Delete

    script(type='text/template', id='data-record') !{data.record}
