extends ./layouts/default

block head
    title People

block neck
    link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
    div.jumbotron
        h1 People
        p.lead
            | Easy people management system.