extends ./../layouts/default

block head
    title About Us

block neck
    link(rel='stylesheet', href='/views/about/index.min.css?#{cacheBreaker}')

block body
    div.row
        div.col-sm-6
            div.page-header
                h1 About Us
                p People is a simple, easy to use, stand alone remote users management system.
                p Yet, complete, powerful & secure following best practice & best security.