div.title
    h2 #{data.record.username}
form#ppl-profile-form
    input.form-control(type='hidden', name='csrf', value!='#{data.csrfToken}')
    div.form-role
        label Username:
        input.form-control(type='text', name='username', value!='#{data.record.username}')
        span.help-block
    div.form-role
        label Email:
        input.form-control(type='text', name='email', value!='#{data.record.email}')
        if !data.record.isVerified || data.record.isVerified === 'no'
            span.ppl-verify-email Verify
        span.help-block
    for field in data.fields
        div.form-role
            label #{field.name}:
            input.form-control(type='text', name='#{field.key}', value!='#{field.value}')
            span.help-block
    div.form-role
        button#update-profile-btn.btn.btn-primary.btn-update(type='button') Update profile

h4.ppl-change-password Change Password
form#ppl-new-password.hidden
    input.form-control(type='hidden', name='csrf', value!='#{data.csrfToken}')
    div.form-role
        label New Password:
        input.form-control(type='password', name='newPassword', value!='')
        span.help-block
    div.form-role
        label Confirm new Password:
        input.form-control(type='password', name='confirm', value!='')
        span.help-block
    div.form-role
        button#update-password-btn.btn.btn-primary.btn-password(type='button') Update Password

    //script(type='text/template', id='data-record') !{data.record}
