@import "../../../../../node_modules/bootstrap/less/mixins.less";

#sessions {
  border-top: 1px solid #ccc;

  span {
    color: #999;
    display: inline-block;

    &.name {
      width: 40%;
    }
    &.ip {
      width: 25%
    }
    &.time {
      width: 30%;
    }
    &.remove {
      width: 5%;
      text-align: right;

      a {
        text-decoration: none;
      }
    }
  }

  ol {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;

      span {
        font-size: 80%;
        color: initial;
      }
    }
  }
}

#twostep-block {
  display: none;
  background-clip: padding-box;
  position: absolute;
  background-color: #fff;
  border: 10px solid rgba(0,0,0,0.3);
  border-radius: 15px;
  z-index: 999;
  left: 50%;
  transform: translate(-50%, 0);
  top: 50px;
  padding: 20px;
  width: 100%;

  .btn-close {
    text-align: right;
    cursor: pointer;
  }
  img {
    display: block;
    margin: 0 auto;
  }
  code {
    display: block;
    text-align: center;
  }
  label {
    display: block;
  }
  input {
    width: 100%;
    padding: 5px;

  }
  #twostep-submit {
    margin-top: 10px;
  }
}