h3 Welcome to #{projectName}!
p Thank you for register.
p Please verify your email address by clicking the following link:
a(href='#{verifyURL}') #{verifyURL}
p
    | Thanks!
    br
    | #{projectName}
