| Welcome to #{projectName}!
= '\n'
= '\n'
| Thank you for register.
| Please verify your email address by clicking the following link:
= '\n'
= '\n'
| #{verifyURL}
= '\n'
= '\n'
| Thanks!
| #{projectName}
