@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-w2zyq5');
	src:url('fonts/icomoon.eot?#iefix-w2zyq5') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-w2zyq5') format('truetype'),
		url('fonts/icomoon.woff?-w2zyq5') format('woff'),
		url('fonts/icomoon.svg?-w2zyq5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f113";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-google:before {
	content: "\f1a0";
}
