.page, .footer {
  margin-left: 150px;
}

.navbar {
  .navbar-brand {
    color: #eee;
  }

  .navbar-form .dropdown {
    position: relative;
  }
}

.navbar .nav > li > a {
  text-transform: uppercase;
  font-weight: bold;
}

.filters {
  margin-bottom: 20px;
}

.stretch {
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

ul.admin-menu {
  position: fixed;
  height: 100%;
  border-right: 1px solid#ccc;
  padding: 0;
  width: 150px;

  li {
    list-style: none;
    border-bottom: 1px solid #eee;

    a {
      padding: 5px 20px;
      display: block;
    }

    &:hover {
      background: #f8f8f8;
    }
  }
}