extends ../layouts/default

block head
    title Login

block feet
    script(src='/views/login/index.min.js?#{cacheBreaker}')

block body
    div.row
        div.col-sm-6
            div.page-header
                h1 Login
            div#login
            if socials.length > 0
                hr
                p Or login using...
                for social in socials
                    a.btn.btn-info(href='/login/#{social}/')
                        i.fa.fa-lg(class="fa-#{social}")
                        |  #{social.charAt(0).toUpperCase() + social.slice(1)}

    script(type='text/template', id='tmpl-login')
        form
            div.alerts
                | <% _.each(errors, function(err) { %>
                div.alert.alert-danger.alert-dismissable
                    button.close(type='button', data-dismiss='alert') &times;
                    | <%- err %>
                | <% }); %>
            div.form-role(class!='<%- errfor.username ? "has-error" : "" %>')
                label Username or Email:
                input.form-control(type='text', name='username', value!='<%= username %>')
                span.help-block <%- errfor.username %>
            div.form-role(class!='<%- errfor.password ? "has-error" : "" %>')
                label Password:
                input.form-control(type='password', name='password', value!='<%= password %>')
                span.help-block <%- errfor.password %>
            div.form-actions
                button.btn.btn-primary.btn-login(type='button') Login
                | &nbsp;
                a.btn.btn-link(href='/login/forgot/') Forgot your password?
            | New here?&nbsp;
            a(href='/register/')
                | Register