extends ../layouts/default

block head
    title Login

block feet
    script(src='/views/login/index.min.js?#{cacheBreaker}')

block body
    div.row
        div.col-sm-6
            div.page-header
                h1 Sign In
            div#login
            if oauthTwitter || oauthGitHub || oauthFacebook || oauthGoogle || oauthTumblr
                hr
                p Or sign in using...
                if oauthMessage
                    div.alerts
                        div.alert.alert-info.alert-dismissable
                            button.close(type='button', data-dismiss='alert') &times;
                            | #{oauthMessage}&nbsp;
                            b
                                a(href='/signup/') Sign Up Here
                div.form-actions
                    div.btn-role.btn-role-justified
                        if oauthTwitter
                            a.btn.btn-info(href='/login/twitter/')
                                i.fa.fa-twitter.fa-lg
                                |  Twitter
                        if oauthGitHub
                            a.btn.btn-info(href='/login/github/')
                                i.fa.fa-github.fa-lg
                                |  GitHub
                        if oauthFacebook
                            a.btn.btn-info(href='/login/facebook/')
                                i.fa.fa-facebook-square.fa-lg
                                |  Facebook
                        if oauthGoogle
                            a.btn.btn-info(href='/login/google/')
                                i.fa.fa-google-plus-square.fa-lg
                                |  Google
                        if oauthTumblr
                            a.btn.btn-info(href='/login/tumblr/')
                                i.fa.fa-tumblr-square.fa-lg
                                |  Tumblr

    script(type='text/template', id='tmpl-login')
        form
            div.alerts
                | <% _.each(errors, function(err) { %>
                div.alert.alert-danger.alert-dismissable
                    button.close(type='button', data-dismiss='alert') &times;
                    | <%- err %>
                | <% }); %>
            div.form-role(class!='<%- errfor.username ? "has-error" : "" %>')
                label Username or Email:
                input.form-control(type='text', name='username', value!='<%= username %>')
                span.help-block <%- errfor.username %>
            div.form-role(class!='<%- errfor.password ? "has-error" : "" %>')
                label Password:
                input.form-control(type='password', name='password', value!='<%= password %>')
                span.help-block <%- errfor.password %>
            div.form-actions
                button.btn.btn-primary.btn-login(type='button') Sign In
                | &nbsp;
                a.btn.btn-link(href='/login/forgot/') Forgot your password?
            | New here?&nbsp;
            a(href='/signup/')
                | Sign up