h3 Forgot your password?
p
    | We received a request to reset the password for your account (#{username}).
p
    | Use this token to update your password:
p
    #{resetCode}
p
    | Thanks,
    br
    | #{projectName}
