extends ./../../layouts/admin

block head
    title Rules / Details
    link(rel='stylesheet', href='/views/admin/rules/details.min.css?#{cacheBreaker}')

block feet
    script(src='/views/admin/rules/details.min.js?#{cacheBreaker}')

block body
    div.row
        div.col-xs-12
            div#header
            div#details
            fieldset
                div#delete
    script(type='text/template', id='tmpl-header')
        div.page-header
            h1
                a(href='/admin/rules/') Rules
                |  / <%- name %>
    script(type='text/template', id='tmpl-details')

        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
            | <% if (success) { %>
            div.alert.alert-info.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | Changes have been saved.
            | <% } %>

        fieldset
            div.event
                legend Name
                div.form-role(class!='<%- errfor.name ? "has-error" : "" %>')
                    input.form-control(type='text', name='name', value!='<%= name %>')
                    span.help-block <%- errfor.name %>

        fieldset
            div.event
                legend Event
                div.form-role(class!='<%- errfor.event ? "has-error" : "" %>')
                    select.form-control(name='event')
                        option(value='userCreate') User Create
                        option(value='userUpdate') User Update
                        //option(value='userDelete') User Delete
                        option(value='userLogin') User Login
                        //option(value='userGetRole') User Get Role
                        //option(value='userLoseRole') User Lose Role
                        //option(value='userStatusChanged') User Status Change
                        option(value='userPasswordChanged') User Password Change
                        option(value='userVerify') User Verify
                    span.help-block <%- errfor.On %>

        fieldset
            div
                legend Conditions
                div.form-role(class!='<%- errfor.and_or ? "has-error" : "" %>')
                    select.form-control(name='and-or')
                        option(value='all') ALL
                        option(value='any') ANY
                    span.help-block <%- errfor.and_or %>

                button.btn.btn-success.btn-addCondition(type='button') Add
                hr

                div#conditions

        fieldset
            div
                legend Actions

                button.btn.btn-success.btn-addAction(type='button') Add
                hr

                div#actions

        div.form-role
            button.btn.btn-primary.btn-update.btn-rule-update(type='button') Update

    script(type='text/template', id='tmpl-conditions')
        | <% _.each(conditions, function(condition) { %>
        div.condition
            div.form-role
                select.form-control(name='condition')
                    option(value='email') Email
                    option(value='username') Name
                    option(value='role') Role
                    option(value='status') Status
                    option(value='mode') Mode

            div.form-role
                select.form-control(name='operator')
                    option(value='is') IS / IS IN
                    option(value='isNot') IS NOT / IS NOT IN

            div.form-role
                input.form-control(type='text', name='match', value!='<%= name %>')

            button.btn.btn-danger.btn-delete(type='button')
                i.fa.fa-trash-o.fa-inverce
            hr
        | <% }); %>

    script(type='text/template', id='tmpl-actions')
            | <% _.each(actions, function(action) { %>
            div.action
                div.form-role
                    select.form-control(name='action')
                        option(value='nothing') Do Nothing
                        option(value='webhook') Send Webhook
                        option(value='addRole') Add Role
                        option(value='removeRole') Remove Role
                        option(value='activate') Set Activate
                        //option(value='setStatus') Set Status
                        //option(value='addNote') Add Note
                        //option(value='sendMail') Send mail

                div.form-role
                    input.form-control(type='text', name='value', value!='<%= name %>')

                button.btn.btn-danger.btn-delete(type='button')
                    i.fa.fa-trash-o.fa-inverce
                hr
            | <% }); %>

    script(type='text/template', id='tmpl-delete')
        legend Danger Zone
        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
        div.form-role
            span.help-block
                span.label.label-danger If you do this, it cannot be undone.
                | &nbsp;
                span.text-muted You may also create orphaned document relationships too.
        div.form-role
            button.btn.btn-danger.btn-delete(type='button') Delete

    script(type='text/template', id='data-record') !{data.record}
