extends ./../../layouts/admin

block head
    title Rules / Details

block feet
    script(src='/views/admin/rules/details.min.js?#{cacheBreaker}')

block body
    div.row
        div.col-xs-12
            div#header
            div#details
            fieldset
                div#delete
    script(type='text/template', id='tmpl-header')
        div.page-header
            h1
                a(href='/admin/rules/') Rules
                |  / <%- name %>
    script(type='text/template', id='tmpl-details')

        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
            | <% if (success) { %>
            div.alert.alert-info.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | Changes have been saved.
            | <% } %>

        div.form-role(class!='<%- errfor.name ? "has-error" : "" %>')
            label Name:
            input.form-control(type='text', name='name', value!='<%= name %>')
            span.help-block <%- errfor.name %>

        fieldset
            div.event
                legend Event
                div.form-role(class!='<%- errfor.event ? "has-error" : "" %>')
                    label Event:
                    select.form-control(name='event')
                        option(value='userCreated') User Created
                        option(value='userUpdated') User Updated
                        option(value='userDeleted') User Deleted
                        option(value='userLoggedIn') User Logged In
                        option(value='userLoggedOut') User Logged Out
                        option(value='userGotRole') User Got Role
                        option(value='userLostRole') User Lost Role
                        option(value='userStatusChanged') User Status Changed
                        option(value='userPasswordChanged') User Password Changed
                        option(value='userVerified') User Verified
                    span.help-block <%- errfor.On %>

        fieldset
            div
                legend Conditions
                div.form-role(class!='<%- errfor.and_or ? "has-error" : "" %>')
                    select.form-control(name='and-or')
                        option(value='all') ALL
                        option(value='any') ANY
                    span.help-block <%- errfor.and_or %>

                span Conditions:
                button.btn.btn-success.btn-addCondition(type='button') + Add

                div#conditions

        fieldset
            div
                legend Actions

                div#actions

        div.form-role
            button.btn.btn-primary.btn-update(type='button') Update

    script(type='text/template', id='tmpl-conditions')
        div.condition
            div.form-role
                label IF User's:
                select.form-control(name='condition')
                    option(value='email') Email
                    option(value='name') Name
                    option(value='role') Role
                    option(value='status') Status
                    option(value='isActive') Is Active

            div.form-role
                select.form-control(name='operator')
                    option(value='is') IS
                    option(value='isNot') IS NOT
                    option(value='IsIn') IS IN
                    option(value='IsNotIn') IS NOT IN

            div.form-role
                input.form-control(type='text', name='match', value!='<%= name %>')

            button.btn.btn-danger.btn-delete(type='button')
                i.fa.fa-trash-o.fa-inverce

    script(type='text/template', id='tmpl-actions')
        div.form-role
            label Do:
            select.form-control(name='action')
                option(value='nothing') Nothing
                option(value='webhook') Webhook
                option(value='addRole') Add Role
                option(value='removeRole') Remove Role
                option(value='activate') Activate
                option(value='inactivate') Inactivate
                option(value='setStatus') Set Status
                option(value='addNote') Add Note

    script(type='text/template', id='tmpl-delete')
        legend Danger Zone
        div.alerts
            | <% _.each(errors, function(err) { %>
            div.alert.alert-danger.alert-dismissable
                button.close(type='button', data-dismiss='alert') &times;
                | <%- err %>
            | <% }); %>
        div.form-role
            span.help-block
                span.label.label-danger If you do this, it cannot be undone.
                | &nbsp;
                span.text-muted You may also create orphaned document relationships too.
        div.form-role
            button.btn.btn-danger.btn-delete(type='button') Delete

    script(type='text/template', id='data-record') !{data.record}
