extends ./../layouts/admin

block head
    title Admin Area

block neck
    link(rel='stylesheet', href='/views/admin/index.min.css?#{cacheBreaker}')

block body
    div.row
        div.col-sm-8
            div.page-header
                h1 Admin Area
            div.row
                div.col-sm-4
                    div.well.stat
                        div.stat-value #{countUser}
                        div.stat-label Users
                div.col-sm-4
                    div.well.stat
                        div.stat-value #{countRole}
                        div.stat-label Roles
                div.col-sm-4
                    div.well.stat
                        div.stat-value #{countStatus}
                        div.stat-label Statuses
